name = "atlas-app-services"
title = "Atlas App Services"

intersphinx = [
  "https://www.mongodb.com/docs/manual/objects.inv",
  "https://www.mongodb.com/docs/atlas/objects.inv",
  "https://www.mongodb.com/docs/atlas/device-sdks/objects.inv",
  "https://www.mongodb.com/docs/compass/current/objects.inv",
]

# These are the pages that open when you click on them (instead of just being containers)
toc_landing_pages = [
  "/activity",
  "/apps",
  "/authentication",
  "/data-model",
  "/edge-server",
  "/mongodb",
  "/get-started",
  "/graphql",
  "/functions",
  "/functions/mongodb",
  "/triggers",
  "/rules",
  "/security",
  "/services",
  "/services/http",
  "/services/twilio",
  "/sync",
  "/sync/get-started",
  "/hosting",
  "/users",
  "/values-and-secrets",
  "/logs",
  "/schemas",
  "/data-api",
  "/tutorials",
  # App Services CLI
  "/cli",
  "/cli/appservices-accessList",
  "/cli/appservices-apps",
  "/cli/appservices-deploy",
  "/cli/appservices-function",
  "/cli/appservices-logs",
  "/cli/appservices-schema",
  "/cli/appservices-secrets",
  "/cli/appservices-users",
  # [Deprecated] Realm CLI
  "/realm-cli",
  "/realm-cli/v2",
  "/realm-cli/v2/realm-cli-accessList",
  "/realm-cli/v2/realm-cli-apps",
  "/realm-cli/v2/realm-cli-function",
  "/realm-cli/v2/realm-cli-logs",
  "/realm-cli/v2/realm-cli-schema",
  "/realm-cli/v2/realm-cli-secrets",
  "/realm-cli/v2/realm-cli-users",
  # Reference
  "/reference/config",
  # Other
  "/studio",
]

[substitutions]
atlas = "Atlas"

[constants]
admin-api-page = "/admin/api/v3/#"
adf = "Atlas Data Federation"
adf-datasource = "Federated data source"
adf-instance = "Federated database instance"
base-url = "https://www.mongodb.com/docs/atlas/app-services"
cli = "App Services CLI"
cli-bin = "appservices"
cli-ref = ":ref:`App Services CLI <appservices-cli>`"
deployment-history-size = "25"
log-retention-time = "10 days"
max-concurrent-requests = "10,000"
max-concurrent-sync-connections = "5,000"
max-graphql-relationship-depth = "five"
max-graphql-resolvers = "ten"
name-char-limit = "57"
request-timeout-time = "300 seconds"
sync-default-message-size-limit = "20 MB"
sync-inactive-app-pause-time = "30 days"
sync-min-mongo-version-required = "5.0"
user-session-expiration-time = "30 minutes"
min-user-session-refresh-token-expiration-time = "30 minutes"
max-user-session-refresh-token-expiration-time = "5 years"
default-user-session-refresh-token-expiration-time = "60 days"

[[banners]]
targets = ["triggers/*.txt"]
variant = "info"
value = """\
     The Triggers documentation is moving to the :ref:`Atlas docs <atlas-triggers>`. Please refer to the docs in their new location in the future.\
    """

[[banners]]
targets = ["*"]
variant = "warning"
value = """\
     Atlas Device Sync, Atlas Edge Server, Data API, and HTTPS Endpoints are deprecated. Refer to the :ref:`deprecation page for details <app-services-deprecation>`.\
    """

[[banners]]
targets = ["admin/*.txt"]
variant = "warning"
value = """\
     Atlas Device Sync, Atlas Edge Server, Data API, HTTPS Endpoints, GraphQL, and Static Hosting are deprecated. Endpoints related to these features are also deprecated.\
    """

[[banners]]
targets = ["cli/*.txt"]
variant = "warning"
value = """\
     Atlas Device Sync, Atlas Edge Server, Data API, HTTPS Endpoints, GraphQL, and Static Hosting are deprecated. Commands related to these features are also deprecated.\
    """
