name = "atlas-app-services"
title = "Atlas App Services"

intersphinx = [
  "https://www.mongodb.com/docs/manual/objects.inv",
  "https://www.mongodb.com/docs/atlas/objects.inv",
  "https://www.mongodb.com/docs/realm/objects.inv"
]

# These are the pages that open when you click on them (instead of just being containers)
toc_landing_pages = [
  "/apps/deploy",
  "/apps/configure/export-app",
  "/authentication/providers",
  "/mongodb",
  "/get-started",
  "/graphql",
  "/functions",
  "/functions/mongodb",
  "/triggers",
  "/security",
  "/services",
  "/services/http",
  "/services/twilio",
  "/sync",
  "/sync/get-started",
  "/hosting",
  "/users",
  "/values-and-secrets",
  "/logs",
  "/schemas",
  "/rules",
  "/data-api",
  "/tutorials",
  # CLI
  "/cli",
  "/cli/realm-cli-accessList",
  "/cli/realm-cli-apps",
  "/cli/realm-cli-function",
  "/cli/realm-cli-logs",
  "/cli/realm-cli-schema",
  "/cli/realm-cli-secrets",
  "/cli/realm-cli-users",
  # Reference
  "/reference/config",
  # Other
  "/studio"
]

[substitutions]
atlas = "Atlas"

[constants]
admin-api-page = "/admin/api/v3/#"
adf = "Atlas Data Federation"
adf-datasource = "Federated data source"
adf-instance = "Federated database instance"
base-url = "https://www.mongodb.com/docs/atlas/app-services"
cli = "Realm CLI"
cli-bin = ":binary:`realm-cli`" # binary -- DO NOT USE IN LINKS! Will break them.
log-retention-time = "10 days"
max-graphql-relationship-depth = "five"
max-graphql-resolvers = "ten"
request-timeout-time = "180 seconds"
