name: Test Data API Snippets
on:
  pull_request:
    paths:
      - "examples/data-api/**"
jobs:
  bluehawk-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18.x
      - name: Run Bluehawk Check
        working-directory: examples/data-api
        run: |
          bash ./check.sh
  test-data-api:
    runs-on: ubuntu-latest
    environment: "Data API Test"
    env:
      ATLAS_PUBLIC_API_KEY: ${{ secrets.ATLAS_PUBLIC_API_KEY }}
      ATLAS_PRIVATE_API_KEY: ${{ secrets.ATLAS_PRIVATE_API_KEY }}
      CLUSTER_NAME: ${{ vars.CLUSTER_NAME }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18.x
      - name: Install Dependencies
        working-directory: examples/data-api
        run: |
          sudo apt update
          sudo apt install -y shunit2
          sudo apt install -y curl
          sudo apt install -y jq
      - name: Run Data API Tests
        working-directory: examples/data-api
        run: |
          env ATLAS_PUBLIC_API_KEY="$ATLAS_PUBLIC_API_KEY" ATLAS_PRIVATE_API_KEY="$ATLAS_PRIVATE_API_KEY" CLUSTER_NAME="$CLUSTER_NAME" bash ./generated-endpoints.sh
